<div class="flex items-center justify-center flex-col p-4">
    <h1 class="font-bold text-xl mb-2">Welcome to Angular SSR startup</h1>
    <h2 class="bg-blue-300 font-serif italic mb-2">This application have the necessary configuration for :</h2>
    <div class="tools">
        <div class="tool" *ngFor="let tool of tools">
            <img [src]="tool.img" alt="{{tool}}-icon" width="{{getWidth(tool.title)}}">
            <p>{{tool.title}}</p>
        </div>
    </div>
    <h2 class="font-serif italic mb-4">
        <a class="text-blue-500" href="https://github.com/zaydimr/angular-ssr">Source code</a>
    </h2>

    <small>Best redards, <a class="text-blue-500" href="https://linkedin.com/in/zaydimr">Zayd EL IMRANI</a></small>
</div>
